In [ ]:
import plotly

In [1]:
import sqlite3
import pandas as pd

data = sqlite3.connect('database.db')
query = data.execute("SELECT DISTINCT * FROM apartments")
cols = [column[0] for column in query.description]
apartments = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [4]:
apartments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2658 entries, 0 to 2657
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2658 non-null   object
 1   price         2658 non-null   float64
 2   location      2658 non-null   object
 3   area          2658 non-null   float64
 4   level         2657 non-null   object
 5   market        2658 non-null   object
 6   building      2657 non-null   object
 7   num_of_rooms  2598 non-null   object
dtypes: float64(2), object(6)
memory usage: 166.2+ KB

In [21]:
apartments.drop(axis=0, index=apartments[apartments['level']=='Nie'].index, inplace=True)
apartments.drop(axis=0, index=apartments[apartments['level']=='Tak'].index, inplace=True)

In [22]:
apartments.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2599 entries, 0 to 2657
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2599 non-null   object
 1   price         2599 non-null   float64
 2   location      2599 non-null   object
 3   area          2599 non-null   float64
 4   level         2598 non-null   object
 5   market        2599 non-null   object
 6   building      2598 non-null   object
 7   num_of_rooms  2598 non-null   object
dtypes: float64(2), object(6)
memory usage: 182.7+ KB

In [23]:
apartments.dropna(inplace=True)

In [24]:
apartments.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2598 entries, 0 to 2657
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2598 non-null   object
 1   price         2598 non-null   float64
 2   location      2598 non-null   object
 3   area          2598 non-null   float64
 4   level         2598 non-null   object
 5   market        2598 non-null   object
 6   building      2598 non-null   object
 7   num_of_rooms  2598 non-null   object
dtypes: float64(2), object(6)
memory usage: 182.7+ KB

In [25]:
apartments['level'].unique()

array(['2', '5', '1', '7', '4', 'Powyżej 10', '3', '8', 'Parter', '6',
       '9', '10', 'Poddasze', 'Suterena'], dtype=object)

In [26]:
apartments['market'].unique()

array(['Pierwotny', 'Wtórny'], dtype=object)

In [28]:
apartments['building'].unique()

array(['Apartamentowiec', 'Blok', 'Kamienica', 'Pozostałe', 'Loft'],
      dtype=object)

In [29]:
apartments['num_of_rooms'].unique()

array(['3 pokoje', '2 pokoje', '1 pokój', '4 i więcej'], dtype=object)

In [37]:
apartments[['city', 'district']] = apartments['location'].str.split(',', expand=True)

In [43]:
apartments.drop(labels=['location', 'title'], axis=1, inplace=True)

In [44]:
apartments

,price,area,level,market,building,num_of_rooms,city,district
0,670000.0,53.00,2,Pierwotny,Apartamentowiec,3 pokoje,Warszawa,Białołęka
1,1050000.0,50.00,5,Wtórny,Blok,2 pokoje,Warszawa,Wola
2,1389000.0,50.20,1,Wtórny,Apartamentowiec,2 pokoje,Warszawa,Ochota
3,1099000.0,39.50,7,Wtórny,Apartamentowiec,2 pokoje,Warszawa,Ochota
4,699000.0,38.50,1,Wtórny,Kamienica,2 pokoje,Warszawa,Bielany
...,...,...,...,...,...,...,...,...
2653,380000.0,48.20,3,Wtórny,Blok,3 pokoje,Olsztyn,None
2654,375000.0,47.90,4,Wtórny,Blok,2 pokoje,Olsztyn,None
2655,566000.0,46.19,4,Wtórny,Blok,3 pokoje,Olsztyn,None
2656,550000.0,41.54,3,Wtórny,Blok,2 pokoje,Olsztyn,None
2657,380000.0,48.00,1,Wtórny,Blok,3 pokoje,Olsztyn,None